<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>MyFirstServletEx</servlet-name>
  	<display-name>MyFirstServletEx</display-name>
  	<description></description>
  	<servlet-class>com.suchiit.controller.MyFirstServletEx</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyFirstServletEx1</servlet-name>
  	<display-name>MyFirstServletEx1</display-name>
  	<description></description>
  	<servlet-class>com.suchiit.controller.MyFirstServletEx1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyFirstServletEx2</servlet-name>
  	<display-name>MyFirstServletEx2</display-name>
  	<description></description>
  	<servlet-class>com.suchiit.controller.MyFirstServletEx1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyFirstServletEx3</servlet-name>
  	<display-name>MyFirstServletEx3</display-name>
  	<description></description>
  	<servlet-class>com.suchiit.controller.MyFirstServletEx1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MyFirstServletEx</servlet-name>
  	<url-pattern>/MyFirstServletEx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyFirstServletEx1</servlet-name>
  	<url-pattern>/MyFirstServletEx1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyFirstServletEx2</servlet-name>
  	<url-pattern>/MyFirstServletEx2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyFirstServletEx3</servlet-name>
  	<url-pattern>/MyFirstServletEx3</url-pattern>
  </servlet-mapping>
</web-app>
